<%#= link_to "Chatroom", root_path,  class: "item" %>
<div class="left menu" id="logo">
  <div class="ui grid">
    <i class="orange film icon" ></i>
    <%= link_to "Funny Movies", root_path%>
  </div>
</div>
<div class="right menu">
  <div class="ui item">

    <% if logged_in? %>
      <div class="item">
        <p>Welcome <%= current_user.username %></p>
      </div>
      <div class="item">
        <%= link_to "Share a movie", share_path, class: "ui primary button" %>
      </div>
      <div class="item">
        <%= link_to "Log out", logout_path, method: :delete,  class: "ui primary button" %>
      </div>
    <% else %>
      <%= link_to "Login/Register", login_path, class: "ui primary button" %>
    <% end %>
  </div>
</div>
